*{
    margin:0px;
    padding: 0px;
}
.logo{
height: 72px; 
max-width: 100%;
left: 0px;
top: 0px;
border-radius: 0px;
/* box-shadow: 2px 1px 5px #aaaaaa; */
}
.logo img{
    margin-left: 135px;
    margin-top:11px;
    margin-bottom:11px;;
}
#bg{
    
   /* height: 89vh; */
   height: 637px;
/* width: 1440px; */
left: 0px;
top: 72px;
border-radius: 0px;

   width: 100%;
   background: rgba(60, 57, 55, 0.2); 
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);  
 }
 .wrapper{
    
    height: 330px;
    left: 590px;
     top: 200px;
    width: 360px;
    padding: 2rem 1rem;
    padding-top:75px;
    /* padding-bottom: 332px; */
    /* margin: 30px auto; */
    border-radius:10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    /* margin-top: 89px; */
    position: absolute;
    
}
h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
    color: #1E0E62;
    letter-spacing: -0.4px;
    margin-bottom: 1.2rem;
}
form input{
    font-family: 'DM Sans';
    font-style: normal;
    width: 92%;
    padding: 12px 20px;
    /* padding-top: 20px; */
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 2px solid #EBEAED;
    border-radius: 100px;
    /* mix-blend-mode: normal; */
}

::placeholder{
    font-family: 'DM Sans';
    font-style: normal;
    position: absolute;
left: 24px;
font-weight: 500;
line-height: 26px;
display: flex;
align-items: center;
color: rgba(21, 20, 57, 0.4);
border-radius: 100px;
}
#footer{
    padding-left: 150px;
    font-family: 'DM Sans';
    font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  
  /* text-align: center; */
  letter-spacing: -0.292683px;
  
  color: #000000;
  padding-bottom: 47px;
  margin-top: 43px;
  /* background-color: #6496EB; */
  }
  
  #footer p{
    display: inline;
    
  height: 26px;
  /* left: 19.94%; */
  /* right: 73.59%; */
  top: calc(50% - 26px/2 + 62.4px);
  /* padding-left: 100px; */
  /* Text / Paragraph */
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  padding: 0%;
  
  color: #000000;
  }
  .tab {
    display: inline-block;
    margin-left: 40px;
    }
  .foot_nm{
  margin-left:91.5vh;
  }
  hr{
    /* position: absolute; */
  left: 5%;
  right: 9.31%;
  top: 50%;
  bottom: 49.17%;
  /* padding-right: 100px; */
  margin-right: 158px;
  mix-blend-mode: normal;
  opacity: 0.3;
  border: 2px solid #000000;
  }
  #error1{
    color: rgb(242, 18, 18);
     font-size: 16px;
     margin-top: 5px;
     top: 10cm;
     left: 4cm;
     position: absolute;
  }
  @media (max-width: 1115px) {
    #bg {
      visibility: hidden;
    }
}

@media only screen and (max-width: 1000px) {

    body{
        overflow: hidden;
         width: 1000px;
         height: 300px;
    }
    .wrapper{
        position: absolute;
        left:7.5cm;
        top: 13cm;
        /* height: 300px; */
        /* width: 300px; */

        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    #footer{
        display:none;
    }
    .logo img{
        position: absolute;
       left: 5.8cm;
       top: 3cm;
    
    }

}